{
  "presets": [
    ["@babel/env", { "loose": true, "modules": false }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    ["transform-react-remove-prop-types", { "mode": "unsafe-wrap" }]
  ]
}
