{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-plusplus": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react/no-access-state-in-setstate": 0
  }
}
